.test{
    position: absolute;
    z-index: 2;
    display: inline-block;
    background-color: darkred;
    top:5px;
    right:5px;
}
p{
    margin: 0;
    position: relative;
    background-color: green;
}