
body
{
  background: #343752;
  color: white;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  width:90%;
  margin: auto;
}

#test{
  position: relative;
}

img{
  top: 10px;
  right: 10px;
  position: absolute;
}

body>section {
  padding: 10px;
  width: 290px; /* Soustraire le padding de 310 px*/
  height:130px; /* Soustraire le padding de 150 px*/
  display: inline-block;
  background: #37b6b7;
}
